*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff;
    background-color: #1E1E1E;
}
header {
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url("../img/sunrise.jpg");
    background-size: cover;
      min-height:100vh;
}
header nav{
    padding: 20px 40px 20px 100px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #1E1E1E;

}
header nav .nav-right{
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

}
header nav .nav-right a{
 text-decoration: none;   
 color: #ffffff;
 margin-right: 30px;
 position: relative;
}
header nav .nav-right a:after{
    content:" ";
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s ease-in-out;
}
header nav .nav-right a:hover:after{
    width: 70%;
}
header nav .nav-right a.active:after{
    width: 90%;
}
header nav .search > div{
background: #1E1E1E;
display: flex;
align-items: center;
padding: 10px 15px;
border-radius: 50px;
}

header nav .search > div input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

header nav .search > div img{
    padding-right: 16px;
}

.social div{
  border: 2px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.social{
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #1E1E1E;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}
.social div:hover{
    cursor: pointer;
    background: white;
}
/* .ani{
    animation-name: rotate;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
   
    
} */
@keyframes move{
   from{transform: translateX(790px);}
   to{transform: translateX(-35px);}
}
/* @keyframes rotate{
    from{transform: rotateY(0deg);}
   to{transform: rotateY(60deg);}
} */
